#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(180, 180, 180, 0.1);
  padding: 16px 0px;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
}

#friends-display-link i {
  color: var(--kokoa-clone-gray);
  margin: 0px 10px 0px 20px;
}

.main-screen__channel {
  margin-top: 20px;
  border-top: var(--separate-line);
  padding-top: 20px;
}

.main-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--kokoa-clone-gray);
}
