.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-list {
  color: black;
  margin-top: 30px;
}

.settings-list span:not([class="settings__setting-badge"]) {
  font-size: 18px;
}

.settings__setting:nth-child(3) {
  margin-bottom: 40px;
  padding-bottom: 50px;
}

.settings__setting i {
  width: 30px;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.6);
}

.settings__setting-column {
  display: flex;
  align-items: center;
}

.settings__setting--almost-white {
  color: rgba(0, 0, 0, 0.4);
}

.settings__setting-badge {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: red;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}

.settings__setting-column:hover i,
.settings__setting-column:hover span:not([class="settings__setting-badge"]) {
  color: black;
  transform: scale(1.2);
}

.settings__setting-column i,
.settings__setting-column span {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
