.chat-screen {
  background-color: #abc1d1;
  height: 10000vh;
}

.chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

.chat-screen__main {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-screen .status-bar {
  background-color: #abc1d1;
  padding-bottom: 10px;
}

.chat-screen__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
}
