.icon-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: black;
  align-items: center;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row span {
  font-size: 20px;
  margin-top: 20px;
}
